{% extends "base.html.twig" %}
{% block content %}
    <h2>Page not found</h2>

    <p>The page you are looking for does not exist. Try going to the <a href="{{ url('index') }}">home</a> page.</p>
{% endblock %}
